			<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Forms
                <span>
                    >
                    Form Elements
                </span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="well">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <h1 class="semi-bold">What are "Smart Form Elements?"</h1>
                <p>
                    SmartAdmin comes with a fully customized grid system catered specifically for building form layouts. Its not technically "better" than the bootstrap 3 built in grid system,
                    but rather more simplified for rapid form layout and faster development. Idealy you would use either the <strong>bootstrap</strong> grid or the <strong>smart-form</strong> grid,
                    when building your form layouts. It is important not to mix elements from two seperate classes as it can cause conflict.
                </p>

                <p>
                    You can explore some of the <a href="form-templates.html" title="Go to Bootstrap Forms">layouts</a> made using Smart Forms grid system or if you are not comfortable with this grid system you can simply stick to the default <a href="bootstrap-forms.html" title="Go to Bootstrap Forms">Bootstrap forms</a>
                </p>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="well">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <label class="label">Enable Student Profile</label>
                                <div class="row">
                                    <div class="col col-4">
                                        <label class="checkbox">
                                            <input type="checkbox" name="checkbox" id="studentProfileEnabled">
                                            <i></i>Wanna be a student?
                                        </label>
                                    </div>
                                </div>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
            </div>
        </div>

    <!-- widget grid -->
    <section id="widget-grid" class="">

        <!-- START ROW -->
        <div class="row">

            <!-- NEW COL START -->
            <article class="col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                    <!-- widget options:
                    usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">


                    -->
                    <header>
                        <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                        <h2>Form Grid </h2>

                    </header>

                    <!-- widget div-->
                    <div>

                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <form class="smart-form">
                                <header>
                                    Settings:
                                </header>

                                <fieldset>
                                    <section>
                                        <label class="label">Subjects you want to learn</label>
                                        <div class="col col-4">
                                            <select class="select2" id="category">
                                                <option value="cmi">Computer science</option>
                                                <option value="biot">Biotechnology</option>
                                                <option value="clean">Leaning to be a cleaning lady</option>
                                            </select>
                                        </div>
                                        <div class="col col-4">
                                            <select class="select2" multiple placeholder="choose subjects" id="subject">
                                                <option data-category="cmi">discreet math</option>
                                                <option data-category="biot">physics</option>
                                            </select>
                                        </div>
                                    </section>
                                </fieldset>

                                <footer>
                                    <button type="submit" class="btn btn-primary">
                                        Save
                                    </button>
                                </footer>
                            </form>

                        </div>
                        <!-- end widget content -->

                    </div>
                    <!-- end widget div -->

                </div>
                <!-- end widget -->

            </article>
            <!-- END COL -->

        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->

@section pagespecific{
    <script>
        $(document).ready(function () {
            //when page is loaded, getDetails
            function getProfile() {
                $.ajax({
                    url: "/getStudentProfile",
                    type: "GET",
                    success: function (data) {
                        console.log(data);
                        $("#studentProfileEnabled").prop("checked", data.IsActive);
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
            getProfile();


            //when you click on the checkbox
            $("#studentProfileEnabled").change(function () {
                $.ajax({
                    url: "/updateStudentProfile",
                    type: "POST",
                    data: { IsActive: $(this).is(":checked") },
                    success: function () {

                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            });


            $("#category").change(function () {
                let cls = $(this).select2('val');
               // $("#subjects").find("option").addClass("hidden");
               // $("#subjects option[data-category='" + cls + "']").removeClass("hidden");
            });
            $("#category").change();
        });
    </script>
}
